@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer,
    .headNav {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .headNav {
        display: grid;
        grid-template-columns: auto auto;
    }

    .footContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .social img {
        width: 40px;
        height: 40px;
    }

}