* {
    line-height: 1.5;
    font-family: "Cause", cursive;
    box-sizing: border-box;
}

/* *************** header stuff ******************** */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: blueviolet;
}

/* ham nav */

.hamburger {
    background: none;
    border: none;
    color: blueviolet;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* NAVIGATION */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: blueviolet;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: purple;
    color: white;
}

h1 {
    margin-left: 10px;
}

/* main stuff */

.menu {
    display: flex;
    justify-content: center; 
    gap: 4rem;
    margin-top: 10px;
}

.menu button {
    padding: 10px;
    font-size: 1.5rem;
}

.grid {
    display: grid;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.list section a {
    overflow-wrap: break-word;
    margin-right: 10px;
}

.list .nonEssential {
    display: none;
}

.list section {
    display: grid;
    grid-template-columns: 50% 50%;
    border: solid 1px #aaa;
    background-color: #eee;
    align-items: center;
    justify-content: center;
}

.list section h2,
.list section p {
    margin-left: 10px;
    margin-right: 10px;
}

.list section:nth-child(even) {
    background-color: #aaa;
}

.list section img {
    display: none;
}

.grid section {
    display: block;
    margin: 10px auto;
    border: solid black 1px;
    padding: 1rem;
    padding-top: 0;
    width: 400px;
    text-align: center;
}

h1, h2, h3, p {
    text-align: center;
}

section {
    display: grid;
    place-items: center;
}

.forecast {
    grid-template-columns: 1fr 1fr 1fr;
}

.forecastDay {
    padding: 10px;
    border: solid 1px;
}

/* .spotlightsContainter {
    border: solid 1px;
} */

#cards section {
    padding: 5px;
    border: solid 1px;
}



















/* footer stuff */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

