* {
    line-height: 1.5;
    font-family: "Cause", cursive;
    box-sizing: border-box;
}

/* *************** header stuff ******************** */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: blueviolet;
}

/* ham nav */

.hamburger {
    background: none;
    border: none;
    color: blueviolet;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* NAVIGATION */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: blueviolet;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: purple;
    color: white;
}

h1 {
    margin-left: 10px;
}

/* main stuff */

.menu {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 10px;
}

.menu button {
    padding: 10px;
    font-size: 1.5rem;
}

.grid {
    display: grid;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.list section a {
    overflow-wrap: break-word;
    margin-right: 10px;
}

.list .nonEssential {
    display: none;
}

.list section {
    display: grid;
    grid-template-columns: 50% 50%;
    border: solid 1px #aaa;
    background-color: #eee;
    align-items: center;
    justify-content: center;
}

.list section h2,
.list section p {
    margin-left: 10px;
    margin-right: 10px;
}

.list section:nth-child(even) {
    background-color: #aaa;
}

.list section img {
    display: none;
}

.grid section {
    display: block;
    margin: 10px auto;
    border: solid black 1px;
    padding: 1rem;
    padding-top: 0;
    width: 400px;
    text-align: center;
}

h1,
h2,
h3,
p {
    text-align: center;
}

section {
    display: grid;
    place-items: center;
}

.forecast {
    grid-template-columns: 1fr 1fr 1fr;
}

.forecastDay {
    padding: 10px;
    border: solid 1px;
}

/* .spotlightsContainter {
    border: solid 1px;
} */

#cards section {
    padding: 5px;
    border: solid 1px;
}

.hero img {
    width: 100%;
}

.hero {
    position: relative;
}

.subText {
    position: absolute;
    width: 100%;
    bottom: 50px;
    background-color: rgb(255 255 255 / 70%);
}

.subText h1 {
    margin: 0;
}

#mainForm {
    margin: 10px;

    fieldset {
        border: solid blueviolet 1px;
        margin-top: 1rem;
        padding: 1rem;

        legend {
            font-size: larger;
        }

        label {
            font-size: larger;
            display: block;
            padding-top: 1rem;
        }

        input[type="text"],
        input[type="tel"],
        input[type="email"],
        textarea {
            width: 100%;
            max-width: 300px;
            font-size: 2rem;
            border: black solid 2px;
            border-radius: 10px;
        }

        input:required {
            border-right-width: 10px;
            border-right-color: red;
        }

        input:focus {
            border-right-width: 10px;
            border-right-color: black;
            outline: none;
        }

        input:required:valid {
            border-right-width: 10px;
            border-right-color: green;
        }


    }

    input[type="submit"] {
        font-size: 1.5rem;
        padding: 1rem;
        margin: 10px 5%;
        width: 90%;
    }

    input[type="submit"]:hover {
        background-color: purple;
        color: white;
        cursor: pointer;
    }


    .memberSelect {
        display: flex;
        justify-content: space-around;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input[type="radio"] {
            width: 2rem;
            height: 2rem;
        }
    }
}

.memberInfo {
    font-size: larger;

    section {
        border: solid black 1px;
        border-radius: 50px 15px;
        width: 300px;
        margin: 10px auto;
        padding: 1rem;
        font-weight: 600;
        animation-name: fadeIn;
        animation-duration: 4s;

        button {
            font-weight: 500;
            border: 1px solid black;
            background-color: lightyellow;
            color: purple;
            padding: 1rem;
            border-radius: 15px;
        }
    }

    .NPML {
        background-color: lightblue;
    }

    .BML {
        background-color: orange;
    }

    .SML {
        background-color: silver;
    }

    .GML {
        background-color: gold;
    }

}

#placeContainer {
    display: grid;
    justify-content: center;

    div {
        text-align: center;
        border: 1px solid black;
        width: 95%;
        margin: 10px auto;
        border-radius: 15px;
        overflow: hidden;
        background-color: #eee;
        font-weight: 600;
        display: grid;
        grid-template-areas: 
        "name"
        "photograph"
        "description"
        "location"
        "button";

        h2 {
            grid-area: name;
        }

        img {
            width: 100%;
            grid-area: photograph;
        }

        p {
            grid-area: description;
        }

        address {
            grid-area: location;
        }

        button {
            grid-area: button;
            padding: 5px;
            margin: 5px auto;
            background-color: white;
            max-width: 100px;
        }


    }
}

/* footer stuff */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25%{
        opacity: .75;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}