* {
    line-height: 1.5;
    font-family: "Cause", cursive;
    box-sizing: border-box;
}

/* *************** header stuff ******************** */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: blueviolet;
}

/* ham nav */

.hamburger {
    background: none;
    border: none;
    color: blueviolet;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* NAVIGATION */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: blueviolet;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: purple;
    color: white;
}




h1 {
    margin-left: 10px;
}

/* main stuff */

section {
    background-color: #eee;
}

section h2 {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0;
}

.sectAbout p {
    padding: 10px;
    margin-top: 0;
}

.sectPhoto, .sectAbout {
    margin-bottom: 1rem;
    /* display: grid; */
}

.sectPhoto img {
    width: 90%;
    max-width: 350px;
    border-radius: 15px;
}

.sectPhotoImageContainer {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.sectWeb {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.sectWeb button {
    font-size: 1.5rem;
    width: 30%;
    cursor: pointer;
    color: blueviolet;
}

.sectWeb button:hover {
    background-color: purple;
    color: white;
}

.courseSelect {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.courseContainer section {
    border: solid black 1px;
    border-radius: 15px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    width: 200px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: purple;
    color: white;
}

.sectWeb p {
    text-align: center;
}

dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
}

























/* footer stuff */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}